@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

html,
body {
  font-family: "Rubik", sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}

h4 {
  color: #00ed82;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background-color: #1ce783;
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: none;
  min-width: 64px;
  border-radius: 4px;
  color: #040405;
  border-width: 0px;
  border-style: solid;
  padding: 0 24px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}

.btn-cta:hover {
  opacity: 0.8;
}

.btn-outline {
  background: none;
  color: #fff;
  border: 2px solid #fff;
}

.btn-outline:hover {
  color: #fff;
  border-color: #ccc;
}

.btn-dark {
  background: #000;
  color: #fff;
}

.legal-text {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

.legal-text .terms {
  font-size: 14px;
}

.legal-text .sign {
  font-size: 16px;
  margin-top: 15px;
}

.sub-link {
  display: block;
  color: #ccc;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: underline;
}

.text-xl {
  font-size: 45px;
  margin: 16px 0 10px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.5px;
}

.sub-text {
  font-size: 16px;
  font-weight: 400;
  max-width: 700px;
  margin: 18px 12% 0;
  line-height: 1.36;
  letter-spacing: 0;
}

.sub-title {
  font-size: 12px;
  line-height: 1.44;
}

.sub-title-desc {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Header */
.header {
  height: 600px;
  background: url(../assets/images/header.jpeg) no-repeat center center / cover;
}

.header nav {
  display: flex;
  padding: 20px 40px;
  z-index: 2;
  position: relative;
}

.header nav .login-btn {
  cursor: pointer;
  position: absolute;
  display: flex;
  background: none;
  right: 30px;
  padding: 0 16px;
  border: none;
  color: #a8afbd;
  font-weight: bold;
  text-transform: uppercase;
}

.header .logo {
  display: flex;
  position: absolute;
  width: 61px;
  height: 24px;
}

.header .logo1 {
  width: 60%;
}

.header .logo2 {
  width: 90%;
}

.header .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 60px;
  text-align: center;
  margin-top: 70px;
  gap: 35px;
}

.header .header-text-1 {
  font-size: 22px;
  font-weight: bold;
}

.header .header-text-2 {
  font-size: 18px;
  margin: 25px 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
}

/* Sub Header */
.sub-header {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 40px;
  align-items: center;
  padding: 30px 40px;
  background: linear-gradient(
    318.68deg,
    #0f495c 0%,
    #0d3640 49.72%,
    #08141f 100%
  );
}

.sub-header > div:last-of-type {
  justify-self: end;
  align-self: end;
}

.sub-header > div:last-of-type .sub-link {
  text-align: center;
}

/* Categories */
.categories {
  display: flex;
  flex-direction: column;
  background-color: #0b0c0f;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 88px 40px;
}

.categories .covers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}

.categories .covers > div {
  height: 500px;
  width: 100%;
  position: relative;
}

.categories .cover-grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      transparent 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, transparent 71.49%);
}

.categories .cover-4 .premium-text {
  position: absolute;
  bottom: -34px;
  font-size: 10px;
  width: 100%;
  right: 5px;
  font-weight: 400;
  line-height: 1.46;
  letter-spacing: 0;
}

.categories .cover-text {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
}

.cover-1,
.cover-2,
.cover-3,
.cover-4 {
  border-radius: 10px;
}

.categories .cover-1 {
  background: url("../assets/images/family-guy.png") no-repeat center center /
    cover;
}
.categories .cover-2 {
  background: url("../assets/images/prey.jpeg") no-repeat center center / cover;
}
.categories .cover-3 {
  background: url("../assets/images/only-murders-in-the-building.png") no-repeat
    center center / cover;
}
.categories .cover-4 {
  background: url("../assets/images/the-sopranos.png") no-repeat center center /
    cover;
}

.categories .hulu-live {
  margin-top: 120px;
  margin-top: 120px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 1;
  text-transform: uppercase;
}

.categories .live-btn {
  width: 17%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.categories .ads {
  font-size: 10px;
  color: #ffffff99;
  margin: 0 5%;
  width: 70%;
  line-height: 1;
  margin-bottom: 30px;
  position: relative;
}

.categories .view-btn {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.8;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
}

/* Live Sports */
.live-sports {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) -57.5%,
      rgba(0, 0, 0, 0) 98.72%
    ),
    url("../assets/images/sports-bg.jpeg") no-repeat center center / cover;
  height: 800px;
  position: relative;
}

.live-sports .sub-text {
  max-width: 500px;
  margin-left: 0;
}

.live-sports-content {
  position: absolute;
  top: 160px;
  left: 190px;
  max-width: 550px;
}

.live-sports-logos {
  width: 47%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.live-sports-logos > div {
  background: url("../assets/images/network-logo-bg.png") no-repeat center
    center / cover;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-sports-logos img {
  width: 40px;
}

.live-sports .live-sports-content .live-sports-tabs {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-bottom: 40px;
  padding-top: 35px;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff99;
  cursor: pointer;
  font-weight: bold;
}

.live-sports .live-sports-content .live-sports-tabs .current {
  color: #fff;
  text-decoration: underline;
}

.live-sports .live-sports-content .live-text {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.46;
  text-transform: none;
  color: hsla(0, 0%, 100%, 0.6);
  margin: 20px 0 0;
  text-align: left;
}

/* Pricing */
.pricings {
  display: flex;
  flex-direction: column;
  background-color: #0b0c0f;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 70px 40px;
}

.pricings .sub-text2 {
  font-weight: bold;
}

.pricing-plans-start,
.pricing-plans,
.pricing-plans-end {
  margin-top: 30px;
  width: 70%;
  display: flex;
  padding-top: 30px;
  border-top: 1px solid hsla(0, 0%, 78.4%, 0.4);
}

.pricing-plans-start {
  justify-content: center;
}

.pricing-plans {
  justify-content: space-between;
}

.plans-bundle .hulu-logo-bundle {
  width: 45%;
  margin-top: 17px;
}

.plans-bundle {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricings .pricing-plans-start .pricing-head {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 95%;
}

.plans-bundle .plans-bundle-title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
  font-size: 12px;
}

.pricing-head-sec {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.pricing-head-sec .plans-bundle .most-popular1,
.most-popular2 {
  padding: 9px 5px;
  font-size: 8px;
  border-radius: 100px;
  color: #16181d;
  height: 30px;
  width: 130px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}

.most-popular1 {
  background: #1ce783;
}

.plans-bundle .p-trial {
  font-size: 13px;
  color: #bec0c2;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: 600;
}

.plans-bundle .hulu-ads h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 13px;
  line-height: 1.32;
  letter-spacing: 0;
}

.plans-bundle .price-btn p {
  font-size: 13px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  line-height: 1;
  background-color: #fff;
  color: #000;
  padding: 14px 70px;
}

.pricing-plans .pricing-title,
.bundles {
  font-size: 13px;
  line-height: 1.36;
  letter-spacing: 0;
}

.pricing-plans .pricing-title {
  width: 50%;
  text-align: left;
}

.pricing-plans .bundles {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.pricing-plans-end {
  border-bottom: 1px solid hsla(0, 0%, 78.4%, 0.4);
  padding-bottom: 30px;
}

.pricing-plans-end .pricing-end {
  font-size: 10px;
  letter-spacing: 0;
  line-height: 1.46;
  text-transform: none;
  text-align: left;
}

/* Footer */
.footer {
  background: #ebedf2;
  color: #333;
}

.footer a {
  color: #333;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}

.footer-lists {
  display: flex;
  justify-content: space-between;
}

.footer-lists .list-head {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.divider {
  width: 100%;
  height: 3px;
  border-top: 1px #ccc solid;
  margin: 30px 0;
}

.social-icons img {
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-box {
  margin: 10% auto;
  width: 400px;
  background: #fff;
  color: #333;
  position: relative;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-body {
  padding: 50px;
}

.modal-body h3 {
  font-weight: bold;
}

.modal-body .btn {
  width: 100%;
  margin-top: 30px;
}

.modal .close {
  cursor: pointer;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal .modal-footer {
  background: #f7f7f9;
  color: #333;
  padding: 20px 0;
  border-top: #eee 1px solid;
  text-align: center;
}

.modal .modal-footer a {
  color: steelblue;
}

/* Form */
.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  text-transform: uppercase;
}

.form-control input {
  width: 100%;
  border: 2px #ccc solid;
  border-radius: 5px;
  height: 50px;
  padding: 5px;
}

/* Media Queries */
@media (max-width: 1100px) {
  .categories .covers {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .header .logo {
    width: 200px;
  }

  .header .header-content {
    text-align: center;
    padding: 0 20px;
  }

  .header .header-text-1 {
    margin-bottom: 40px;
  }

  .header .header-text-2 {
    display: none;
  }

  .sub-header {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }

  .sub-header img {
    width: 250px;
    margin: auto;
  }

  .sub-header > div:last-of-type {
    justify-self: center;
    align-self: center;
  }

  .text-xl {
    line-height: 1.3;
    font-size: 40px;
  }

  .sub-text {
    font-size: 20px;
  }

  .categories .covers {
    grid-template-columns: 1fr;
  }

  .live-border {
    padding: 30px 10px;
  }

  .live-sports {
    background: url("../img/live-sports-small.jpg") no-repeat center center /
      cover;
  }

  .live-sports-content {
    top: 30px;
    left: 30px;
    margin-top: 60px;
  }

  .footer-lists {
    flex-direction: column;
  }

  .modal .modal-box {
    width: 350px;
  }
}
